{
    "defaultName": "이름 없는",
    "morning": [
        "어서와 선생님. 기다리고 있었어. 아니아니! 오래 기다린건 아니야!",
        "좋은아침이야 ${username}선생.",
        "${username}선생님 아침은 먹었어? 아침을 먹어야 머리가 잘 돌아간다구."
    ],
    "afternoon": [
        "안녕 ${username}선생! 안바빠? 안바쁘면... 아니야! 혼잣말이야!",
        "오늘은 아르바이트가 없어, 선생님은? 역시 바쁘구나...",
        "선배들은 무얼 하고 있으려나?"
    ],
    "evening": [
        "좋아 오늘 하루도 끝! 선생도 고생 많았어!",
        "언젠가, 다른 사람들처럼 쉴 수 있으려나...",
        "아비도스 학교도 언젠간 다른 학교처럼 돌아올거라고 믿어."
    ],
    "charBirthday": "06/25",
    "userBirthday": "01/12"
}
